
###
 # 1100CC - web application framework.
 # Copyright (C) 2023 LAB1100.
 #
 # See http://lab1100.com/1100cc/release for the latest version of 1100CC and its license.
 ##

# Do not interfere with out own location formatting
DirectorySlash Off
# Turn on the location formatting
RewriteEngine On

# Set server state to development or production (default)
#SetEnv STATE development
#SetEnv MESSAGE '[L][msg_site_maintenance]'

################################################

# Do optional host/path preprocessing
RewriteRule ^(.*)$ - [E=HOST:${alias:HOST:%{HTTP_HOST}|%{HTTP_HOST}},E=PATH:${alias:PATH:%{REQUEST_URI}|%{REQUEST_URI}}]

# Redirect www to clean URL, include http or http(s)
	RewriteBase /
	RewriteCond %{SERVER_PORT}s%{ENV:HOST} ^(?:443(s)|[0-9]+s)www\.(.*)$ [NC]
RewriteRule ^(.*)$ http%1://%2/$1 [R=301,L]

# Split the requested host in sections
	RewriteCond %{ENV:HOST} ((?:[^\.|-]*-)*(?:[^\.]*\.)*?)([^\.]+\.)([be]\.)?([^\.]+\.)([be]\.)?([^\.]+\.)([be]\.)?([^\.]+\.)([^\.]+)$
	RewriteCond ${alias:%2%4%6%8%9} !=""
RewriteRule ^(.*)$ - [E=SERVER_NAME_SUB:%1,E=SERVER_NAME_MODIFIER:%3%5%7,E=SERVER_NAME_1100CC:%2%3%4%5%6%7%8%9,E=SERVER_NAME_SITE_NAME:%2%4%6%8%9,S=3]

# Split the requested host in sections
	RewriteCond %{ENV:HOST} ((?:[^\.|-]*-)*(?:[^\.]*\.)*?)([^\.]+\.)([be]\.)?([^\.]+\.)([be]\.)?([^\.]+\.)([^\.]+)$
	RewriteCond ${alias:%2%4%6%7} !=""
RewriteRule ^(.*)$ - [E=SERVER_NAME_SUB:%1,E=SERVER_NAME_MODIFIER:%3%5,E=SERVER_NAME_1100CC:%2%3%4%5%6%7,E=SERVER_NAME_SITE_NAME:%2%4%6%7,S=2]

# Split the requested host in sections
	RewriteCond %{ENV:HOST} ((?:[^\.|-]*-)*(?:[^\.]*\.)*?)((?<=^|\.)[be]\.)?([^\.]+\.)([be]\.)?([^\.]+\.)([^\.]+)$
	RewriteCond ${alias:%3%5%6} !=""
RewriteRule ^(.*)$ - [E=SERVER_NAME_SUB:%1,E=SERVER_NAME_MODIFIER:%2%4,E=SERVER_NAME_1100CC:%2%3%4%5%6,E=SERVER_NAME_SITE_NAME:%3%5%6,S=1]

# Split the requested host in sections
	RewriteCond %{ENV:HOST} ((?:[^\.]*\.)*?)((?<=^|\.)[be]\.)?([^\.]+\.)([^\.]+)$
	RewriteCond ${alias:%3%4} !=""
RewriteRule ^(.*)$ - [E=SERVER_NAME_SUB:%1,E=SERVER_NAME_MODIFIER:%2,E=SERVER_NAME_1100CC:%2%3%4,E=SERVER_NAME_SITE_NAME:%3%4]

RewriteRule ^(.*)$ - [E=SITE_NAME:${alias:%{ENV:SERVER_NAME_SITE_NAME}}]

# Continue if SITE_NAME is set
	RewriteCond %{ENV:SITE_NAME} =""
RewriteRule ^(.*)$ - [PT,R=403]

# Determine custom section
	RewriteCond %{ENV:SERVER_NAME_SUB} ((?:cms|s[0-9])[\.|-])?((?:[^\.]+\.)*)$
RewriteRule ^(.*)$ - [E=SERVER_NAME_SUB:%1,E=SERVER_NAME_CUSTOM:%2]

# Redirect if SITE_NAME is not a directory or certificate challenge
	RewriteCond %{DOCUMENT_ROOT}/%{ENV:SITE_NAME} !-d
	RewriteCond %{ENV:PATH} !/\.well-known/acme-challenge/
	# Http or http(s)
	RewriteCond %{SERVER_PORT}s ^(?:443(s)|[0-9]+s)$
RewriteRule ^(.*)$ http%1://%{ENV:SERVER_NAME_SUB}%{ENV:SERVER_NAME_CUSTOM}%{ENV:SITE_NAME}%{ENV:PATH} [L,R]

################################################

# Set CMS location when the host name requests the CMS
RewriteRule ^(.*)$ - [E=PATH_CMS:]
	RewriteCond %{ENV:HOST} ^cms[\.|-]
	RewriteCond %{ENV:PATH} ^/(?i:CMS/)?(.*)$
RewriteRule ^(.*)$ - [E=PATH_CMS:/CMS,E=PATH:/%1]

# Only allow access to code when it's the index
	RewriteCond %{REQUEST_FILENAME} \.php$
	RewriteCond %{REQUEST_FILENAME} !/CORE/index\.php$
	RewriteCond %{REQUEST_FILENAME} !/CORE/CMS/index\.php$
RewriteRule ^(.*)$ - [F,NC]

# Disallow access to SETTINGS or something PRIVATE
	RewriteCond %{REQUEST_FILENAME} /SETTINGS/ [OR]
	RewriteCond %{REQUEST_FILENAME} /PRIVATE/
RewriteRule ^(.*)$ - [F,NC]

# If the file or symbolic link truly exists in the relevant directories, show it!
	RewriteCond %{DOCUMENT_ROOT}##%{ENV:SITE_NAME}##%{REQUEST_FILENAME} ^(.+)##(.+)##(\1/\2|\1/CORE|\1/STORAGE/\2)/.+$
# Continue if REQUEST_FILENAME is not a file
	RewriteCond %{REQUEST_FILENAME} -f [OR]
# Continue if REQUEST_FILENAME is not a symbolic link
	RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^(.+)$ - [PT,L]

# If the file exists in the SITE directory, create path
# Continue if the path is not a file
	RewriteCond %{DOCUMENT_ROOT}/%{ENV:SITE_NAME}%{ENV:PATH_CMS}%{ENV:PATH} -f [OR]
# Continue if the path is not a symbolic link
	RewriteCond %{DOCUMENT_ROOT}/%{ENV:SITE_NAME}%{ENV:PATH_CMS}%{ENV:PATH} -l
RewriteRule ^(.+)$ /%{ENV:SITE_NAME}%{ENV:PATH_CMS}%{ENV:PATH} [PT,L]

# If the file exists in the CORE directory, create path
# Continue if the path is not a file
	RewriteCond %{DOCUMENT_ROOT}/CORE%{ENV:PATH_CMS}%{ENV:PATH} -f [OR]
# Continue if the path is not a symbolic link
	RewriteCond %{DOCUMENT_ROOT}/CORE%{ENV:PATH_CMS}%{ENV:PATH} -l
RewriteRule ^(.+)$ /CORE%{ENV:PATH_CMS}%{ENV:PATH} [PT,L]

# If the file exists in the SITE STORAGE directory, create path
# Continue if the path is not a file
	RewriteCond %{DOCUMENT_ROOT}/STORAGE/%{ENV:SITE_NAME}%{ENV:PATH_CMS}%{ENV:PATH} -f [OR]
# Continue if the path is not a symbolic link
	RewriteCond %{DOCUMENT_ROOT}/STORAGE/%{ENV:SITE_NAME}%{ENV:PATH_CMS}%{ENV:PATH} -l
RewriteRule ^(.+)$ /STORAGE/%{ENV:SITE_NAME}%{ENV:PATH_CMS}%{ENV:PATH} [PT,L]

# All other queries get sent to the CORE index as index.php/whatever
RewriteRule ^(.*)$ /CORE%{ENV:PATH_CMS}/index.php%{ENV:PATH} [L]

################################################

# Pass authorization headers
CGIPassAuth on

# Allow compression
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml
AddOutputFilterByType DEFLATE application/xml application/xhtml+xml application/rss+xml application/javascript application/json

# Set always applicable headers
Header always set X-Content-Type-Options "nosniff"
