@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700'); /* Default */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Arabic:wght@400;700&family=Noto+Sans+Hebrew:wght@400;700&family=Noto+Sans+SC:wght@400;700&family=Noto+Sans+Symbols:wght@400;700&family=Noto+Sans+Symbols+2:wght@400;700'); /* Extensions */

:root {
	--font-site: Manrope,'Noto Sans','Noto Sans Arabic','Noto Sans Hebrew','Noto Sans SC', Helvetica,Arial,sans-serif;
	--font-cms: Manrope,'Noto Sans','Noto Sans Arabic','Noto Sans Hebrew','Noto Sans SC', Helvetica,Arial,sans-serif;
	--font-body: var(--font-site);
	--font-mono: 'Roboto Mono', Consolas,Menlo,Monaco,'Lucida Console','Liberation Mono','DejaVu Sans Mono','Bitstream Vera Sans Mono','Courier New',monospace,sans-serif;
	--font-serif: Georgia,serif;
	--font-symbol: 'Noto Sans Symbols','Noto Sans Symbols 2',sans-serif;
	
	--text: #444444;
	--text-light: #c0c0c0;
	
	--back: #f5f5f5;
	--back-detail: #e5e5e5;
	--back-nested: #e1e1e1;
	--back-super: #444444;

	--highlight: #009cff;
	--highlight-soft: #008dcf;
	
	--input: #c0c0c0;
	--input-hover: #bdbdbd;
	--input-focus: #86bad9;
	--input-edit-background: #fffcf9;
	--input-background-selected: #e1e1e1;
	--input-placeholder: #aaaaaa;
	--input-text: #000000;
	--input-text-disabled: #6d6d6d;
	
	--input-element-height: 2.2em;
	--input-element-padding: 0.4em;
	--input-element-radius: 2px;
	
	--button: #000000;
	--button-text: #ffffff;
	--button-border: #000000;
	--button-hover: var(--button);
	--button-hover-border: #2e2e2e;
	--button-focus: var(--button);
	--button-focus-border: #0096ff;
	--button-disabled: #a4a4a4;
	--button-disabled-border: #a4a4a4;
	--button-selected: #ffffff;
	--button-selected-border: var(--back-detail);
	--button-selected-text: #000000;
	
	--button-element-radius: 2px;
	
	--animate-timing-bounce: cubic-bezier(0.38, 0.17, 0.11, 0.85);
	--animate-timing-bounce-reverse: cubic-bezier(0.85, 0.11, 0.17, 0.38);
}

body { --view-height: 100vh; }
